<div class="custom-card term-cart">
		<a href="{{ url }}">
    <div class="card-image-wrapper">
			{{ content.field_category_img.0}}
    </div>
			<h2 class="fs-18 fw-400 lh-base text-center pb-3">{{ name }}</h2>
		</a>
</div>

